
.header {
    align-content: center;
    text-align: center;
    font-family: "lucida handwriting";
    font-size: 20px;
}

.main-header {
    font-weight: 400;
    font-size: 40px;
    font-family:fantasy;
    text-align:center;
}

body {
    background-image:url("./WebsiteImages/FloralWP.webp");
    background-size: cover;
    font-size: small;
}

.main-photo {
    width: 48%;
    height: 600px;
    object-fit: cover;
    margin-right: 10px;
}

.other-photo {
    width: 48%;
    height: 600px;
    object-fit: cover;
}

.image-container {
    margin: 0 auto;
    width:fit-content;
}
