
.header {
    align-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 30px;
}

.main-header {
    font-weight: 400;
    font-size: 30px;
    font-family: 'Potta One', cursive;
    text-align:center;
}

body {
    background-image:url("./WebsiteImages/FloralWP.webp");
    background-size: cover;
    font-size: small;
}

.main-photo {
    object-fit: contain;
    margin-right: 10px;
    width: 350px;
}

.other-photo {
    height: 600px;
}

.image-left {
    height: 600px;
    position: absolute;
    right: 140px;
    border: 5px solid black;
    width: 319px;
}

.image-right {
    height: 466px;
    position: absolute;
    left: 140px;
    border: 5px solid black;
    width: 350px
}

.navigation-link {
    display:inline;
}

.tabs {
    list-style: none;
    display: block;
    background-color: #eecbf7;
    text-align: center;
    font-size: 15px;
    padding: 5px 0px;
    border: 3px solid black;
}

.tab-item {
    display:inline-block;
    width: 100px;
    cursor:pointer;
}

.selected {
    background-color: white;
    border: 2px solid black;
}
